@page "/project/setup"

@using System.Text.Json;
@using JiraWorkSpace.MAUI.Data

<Form Model="@configModel"
      OnFinish="OnFinish"
      OnFinishFailed="OnFinishFailed" >
    <Divider Orientation="left">基本信息</Divider>
    <Row Gutter="24">
        <GridCol Span="8">
            <FormItem Label="    AD">
                <Input @bind-Value="@context.AD" />
            </FormItem>
        </GridCol>
    </Row>
    <Divider Orientation="left">代码配置</Divider>
    <Row Gutter="24">
        <GridCol Span="8">
            <FormItem Label="Code Directory">
                <Input @bind-Value="@context.CodeDirectory" />
            </FormItem>
        </GridCol>
        <GridCol Span="8">
            <FormItem Label="Branch Rule" Help="{JIRAKEY}-{AD}-{MMdd}-BranchName">
                <Input @bind-Value="@context.BranchRule" />
            </FormItem>
        </GridCol>
    </Row>
    <Divider Orientation="left">Jira接口配置</Divider>
    <Row Gutter="24">
        <GridCol Span="8">
            <FormItem Label="Jira Domain">
                <Input @bind-Value="@context.JiraDomain" />
            </FormItem>
        </GridCol>
        <GridCol Span="8">
            <FormItem Label="Jira Api Version">
                <Input @bind-Value="@context.JiraApiVersion" />
            </FormItem>
        </GridCol>
        <GridCol Span="8">
            <FormItem Label="Jira UaseName">
                <Input @bind-Value="@context.JiraUaseName" />
            </FormItem>
        </GridCol>
        <GridCol Span="8">
            <FormItem Label="Jira Api Token">
                <Input @bind-Value="@context.JiraApiToken" />
            </FormItem>
        </GridCol>
    </Row>

    <FormItem WrapperColOffset="6" WrapperColSpan="12">
        <Button Type="@ButtonType.Primary" HtmlType="submit">
            保存
        </Button>
    </FormItem>
</Form>

@code
{
    private ConfigModel configModel;
    /// <summary>
    ///
    /// </summary>
    /// <returns></returns>
    protected override async Task OnInitializedAsync()
    {
        configModel = JiraWorkSpace.MAUI.Data.ConfigService.GetConfig();
    }

    private void OnFinish(EditContext editContext)
    {
        File.WriteAllText($"{System.AppDomain.CurrentDomain.BaseDirectory}\\_c.json", JsonSerializer.Serialize(configModel));
    }

    private void OnFinishFailed(EditContext editContext)
    {
        Console.WriteLine($"Failed:{JsonSerializer.Serialize(configModel)}");
    }
}