@page "/setup"

@using System.Text.Json;
@using JiraWorkSpace.MAUI.Data

<Form Model="@configModel"
      LabelColSpan="6"
      WrapperColSpan="12"
      OnFinish="OnFinish"
      OnFinishFailed="OnFinishFailed">
    <FormItem Label="AD">
        <Input @bind-Value="@context.AD" />
    </FormItem>
    <FormItem Label="Code Directory">
        <Input @bind-Value="@context.CodeDirectory" />
    </FormItem>
    <FormItem Label="Jira Domain">
        <Input @bind-Value="@context.JiraDomain" />
    </FormItem>
    <FormItem Label="Jira Api Version">
        <Input @bind-Value="@context.JiraApiVersion" />
    </FormItem>
    <FormItem Label="Jira UaseName">
        <Input @bind-Value="@context.JiraUaseName" />
    </FormItem>
    <FormItem Label="Jira Domain">
        <Input @bind-Value="@context.JiraApiToken" />
    </FormItem>
    <FormItem WrapperColOffset="6" WrapperColSpan="12">
        <Button Type="@ButtonType.Primary" HtmlType="submit">
            保存
        </Button>
    </FormItem>
</Form>

@code
{
    private ConfigModel configModel;
    /// <summary>
    /// 
    /// </summary>
    /// <returns></returns>
    protected override async Task OnInitializedAsync()
    {
        configModel = ConfigHelper.GetConfig();
    }

    private void OnFinish(EditContext editContext)
    {
        File.WriteAllText($"{System.AppDomain.CurrentDomain.BaseDirectory}\\_c.json", JsonSerializer.Serialize(configModel));
    }

    private void OnFinishFailed(EditContext editContext)
    {
        Console.WriteLine($"Failed:{JsonSerializer.Serialize(configModel)}");
    }
}