@page "/tasklist"

@using System.ComponentModel
@using System.ComponentModel.DataAnnotations;
@using System.Text.Json;
@using AntDesign.TableModels
@using JiraWorkSpace.MAUI.Data

<Form @ref="_form" Model="searchFormModel" Name="advanced_search" Class="ant-advanced-search-form">
    <Row Gutter="24">
        @if (_expand)
        {
            <GridCol Span="6">
                <FormItem Label="项目">
                    <Input @bind-Value="@context.Assignee" Placeholder="placeholder" />
                </FormItem>
            </GridCol>
            <GridCol Span="6">
                <FormItem Label="Sprint">
                    <Input @bind-Value="@context.Sprint" Placeholder="placeholder" />
                </FormItem>
            </GridCol>
            <GridCol Span="6">
                <FormItem Label="类型">
                    <Input @bind-Value="@context.IssueType" Placeholder="placeholder" />
                </FormItem>
            </GridCol>
            <GridCol Span="6">
                <FormItem Label="经办人">
                    <Input @bind-Value="@context.Assignee" Placeholder="placeholder" />
                </FormItem>
            </GridCol>


            <GridCol Span="6">
                <FormItem Label="状态">
                    <Input @bind-Value="@context.Status" Placeholder="placeholder" />
                </FormItem>
            </GridCol>
        }
    </Row>
    <Row>
        <GridCol Span="24" Style="text-align:right;">
            @if (_expand)
            {
                <Button Type="primary" HtmlType="submit">Search</Button>
                <Button Style="margin: 0 8px;" OnClick="()=>{_form?.Reset();}">Clear</Button>
            }
            <a style="font-size:12px" @onclick="()=>{_expand=!_expand;}">
                <Icon Type="@(_expand?"up":"down")"></Icon>  Collapse Search
            </a>
        </GridCol>
    </Row>
</Form>

<Table @ref="table"
       TItem="SearchItemModel"
       DataSource="@itemList"
       Total="_total"
       @bind-PageIndex="_pageIndex"
       @bind-PageSize="_pageSize"
       @bind-SelectedRows="selectedRows"
       OnChange="OnChange">
    <Selection Key="@(context.Key.ToString())" />
    <Column Field="@context.Key" />
    <Column @bind-Field="@context.Summary" Sortable />
    <Column @bind-Field="@context.Status" />
    <ActionColumn>
        <Space>
            <SpaceItem><Button Danger OnClick="()=>Delete(context.Key)">Delete</Button></SpaceItem>
        </Space>
    </ActionColumn>
</Table>

<br />
<p>PageIndex: @_pageIndex | PageSize: @_pageSize | Total: @_total</p>

<br />
<h5>selections:</h5>
@if (selectedRows != null && selectedRows.Any())
{
    <Button Danger Size="small" OnClick="@(e => { selectedRows = null; })">Clear</Button>

    @foreach (var selected in selectedRows)
    {
        <Tag @key="selected.Key" Closable OnClose="e=>RemoveSelection(selected.Key)">@selected.Key - @selected.Summary</Tag>
    }
}

<Button OnClick="()=> { _pageIndex--; }">Previous page</Button>
<Button OnClick="()=> { _pageIndex++; }">Next Page</Button>


<style>
    [data-theme='compact'] .ant-advanced-search-form,
    .ant-advanced-search-form {
        padding: 24px;
        background: #fbfbfb;
        border: 1px solid #d9d9d9;
        border-radius: 2px;
    }

        [data-theme='compact'] .ant-advanced-search-form .ant-form-item,
        .ant-advanced-search-form .ant-form-item {
            display: flex;
        }

        [data-theme='compact'] .ant-advanced-search-form .ant-form-item-control-wrapper,
        .ant-advanced-search-form .ant-form-item-control-wrapper {
            flex: 1;
        }
</style>

@code {
    public class SearchFormModel
    {
        public string Assignee { get; set; }
        public string Sprint { get; set; }
        public string Project { get; set; }
        public string IssueType { get; set; }
        public string Status { get; set; }
    }

    public class SearchItemModel
    {
        /// <summary>
        ///
        /// </summary>
        [DisplayName("关键字")]
        public string Key { get; set; }

        /// <summary>
        ///
        /// </summary>
        [DisplayName("类型")]
        public string IssueType { get; set; }

        /// <summary>
        ///
        /// </summary>
        [DisplayName("状态")]
        public string Status { get; set; }

        /// <summary>
        ///
        /// </summary>
        [DisplayName("概要")]
        public string Summary { get; set; }

        /// <summary>
        ///
        /// </summary>
        [DisplayName("经办人")]
        public string Assignee { get; set; }
    }

    string ApiBaseUrl = "https://zhangy.atlassian.net/rest/api";
    int ApiVersion = 2;

    bool _expand = false;
    AntDesign.Internal.IForm _form;
    SearchFormModel searchFormModel = new SearchFormModel();

    protected override async Task OnInitializedAsync()
    {
        itemList = await GetIssueListAsync(1, 50);
        _total = 50;
    }

    List<SearchItemModel> itemList;

    IEnumerable<SearchItemModel> selectedRows;
    ITable table;

    int _pageIndex = 1;
    int _pageSize = 10;
    int _total = 0;

    public async Task OnChange(QueryModel<SearchItemModel> queryModel)
    {
        Console.WriteLine(JsonSerializer.Serialize(queryModel));
    }

    public Task<List<SearchItemModel>> GetIssueListAsync(int pageIndex, int pageSize)
    {
        JiraSearchRootDto rootDto = null;
        try
        {
            string apiUrl = ApiBaseUrl + "/" + ApiVersion + "/" + "search?jql=";
            var client = new HttpClient();
            Task<string> resTaskStr = client.GetStringAsync(apiUrl);
            resTaskStr.Wait();

            var resStr = new JiraApi(ApiBaseUrl + "/" + ApiVersion + "/", "", "").DoQuery("issue", "JIRAW-1");
            rootDto = JsonSerializer.Deserialize<JiraSearchRootDto>(resStr);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Failed:{ex.Message}");
        }

        return Task.FromResult(rootDto.issues.Select(issue =>
            {
                return new SearchItemModel
                    {
                        Key = issue.key,
                        IssueType = issue.fields.issuetype.name,
                        Status = issue.fields.status.name,
                        Summary = issue.fields.summary,
                        Assignee = issue.fields.assignee.name
                    };
            }).ToList());
    }

    public void RemoveSelection(string key)
    {
        var selected = selectedRows.Where(x => x.Key != key);
        selectedRows = selected;
    }

    private void Delete(string key)
    {
        itemList = itemList.Where(x => x.Key != key).ToList();
        _total = itemList.Count;
    }
}